@media screen and (max-width: 798px) {
    #product-details__description-list__wrapper {
        justify-content: center;
    }
    
    .login-container {
        width: 80%;
    }
    
    body {
        height: auto;
        overflow: visible;
        background-repeat: repeat-y;
    }
    
    .wrapper {
        flex-flow: column nowrap;
    }
    
    #table-container__header {
        font-size: 1rem;
        gap: 0;
        text-align: center;
    }
    
    .empty-cart__alert {
        align-self: center;
        font-size: 1rem;
        margin-top: 1.5rem;
        text-align: center;
    }
    
    #table-container {
        overflow-x: auto;
    }
    
    th, td {
        vertical-align: middle;
    }
    
    .product-details__purchase-info__wrapper {
        width: auto;
    }
    
    .product-details__content {
        flex-flow: column nowrap;
    }
    
    #product-counter {
        margin-top: -0.9rem;
        margin-left: -5.5rem;
        font-size: large;
        height: 1.2rem;
        width: 1.2rem;
    }
    
    .notification__body {
        max-width: 100%;
        font-size: 0.9rem;
    }
}